/* Start Hero */
.hero {
  background: url("../../imgs/hero_bg.jpg") no-repeat;
  background-size: cover;
  padding: var(--pd-120) 0;
  color: var(--white-color);
  position: relative;
  z-index: 1;
}

.hero::before {
  content: "";
  background-image: linear-gradient(to right, var(--black-color), var(--hover-color));
  width: 100%;
  height: 100%;
  position: absolute;
  left: 0;
  top: 0;
  z-index: -1;
  opacity: 0.5;
}

.hero h1 {
  width: 700px;
  max-width: 100%;
  font-size: 50px;
}

.hero p {
  max-width: 600px;
  margin: 30px 0;
  line-height: 1.6;
}

.hero .main-btn {
  width: fit-content;
}

@media (max-width:767px) {
  .hero {
    text-align: center;
  }

  .hero h1 {
    font-size: 35px;
  }

  .hero :where(p, .main-btn) {
    margin-left: auto !important;
    margin-right: auto !important;
  }
}

/* End Hero */
/* Start Features */
.features {
  transform: translateY(-50px);
  position: relative;
  z-index: 2;
}

.features .ft-box {
  position: relative;
  transition: all var(--main-transition);
}

.features .ft-box:hover {
  transform: translateY(-20px);
}

[lang="en"] .features .ft-box:hover .icon-container {
  left: 50%;
}

.features .ft-box:hover .icon-container {
  transform: translate(-50%, -50%);
  box-shadow: var(--main-shadow);
}

.features .ft-box:first-child {
  --unique-color: var(--red-color);
}

.features .ft-box:nth-child(2) {
  --unique-color: var(--yellow-color);
}

.features .ft-box:nth-child(3) {
  --unique-color: var(--green-color);
}

.features .ft-box:last-child {
  --unique-color: var(--blue-color);
}

.features .ft-box h3 {
  display: -webkit-box;
  -webkit-line-clamp: 1;
  line-clamp: 1;
  -webkit-box-orient: vertical;
  overflow: hidden;
  text-overflow: ellipsis;
}

.features .ft-box p {
  margin: 15px 0;
  line-height: 1.4;
  display: -webkit-box;
  -webkit-line-clamp: 3;
  line-clamp: 3;
  -webkit-box-orient: vertical;
  overflow: hidden;
  text-overflow: ellipsis;
}

.features .ft-box a {
  color: var(--hover-color);
  font-size: 15px;
  position: relative;
}

.features .ft-box a::after {
  content: "";
  background-color: var(--hover-color);
  width: 0;
  height: 2px;
  position: absolute;
  left: 0;
  bottom: 0;
  transition: width var(--main-transition);
}

.features .ft-box a:hover::after {
  width: 100%;
}

/* End Features */
/* Start Stats */
.stats {
  background-color: var(--light-purple);
  padding: var(--pd-60) 0;
}

.stats .st-box {
  text-align: center;
}

.stats .st-box p {
  color: var(--theme-color);
  font-size: 40px;
  font-weight: bold;
}

.stats .st-box h3 {
  font-size: 18px;
  margin-top: 10px;
}

/* End Stats */
/* Start Instructors */
.instructors {
  padding: var(--pd-60) 0;
}

.instructors .instr-card {
  background-color: var(--white-color);
  box-shadow: var(--main-shadow);
}

.instructors .instr-card img {
  aspect-ratio: 1 / 1;
  transition: all var(--main-transition);
}

.instructors .instr-card:hover img {
  transform: scale(1.2) rotate(4deg);
  opacity: 0.7;
}

.instructors .instr-card .text {
  padding: 20px;
}

.instructors .instr-card h3 {
  margin-bottom: 5px;
}

.instructors .instr-card span {
  color: var(--theme-color);
  font-size: 14px;
  font-weight: bold;
}

/* End Instructors */
/* Start How System Works */
.how-system-works {
  background-color: var(--light-purple);
  padding: var(--pd-60) 0;
}

.how-system-works .steps {
  padding: var(--pd-60) 0;
  max-width: 340px;
  margin: 0 auto;
  display: grid;
  gap: 60px;
  position: relative;
  z-index: 1;
}

.how-system-works .steps::after {
  content: "";
  background-color: var(--theme-color);
  width: 2px;
  height: calc(100% - 20px);
  position: absolute;
  top: 50%;
  left: 50%;
  z-index: -1;
  transform: translate(-50%, -50%);
}

.how-system-works .steps .step-card {
  position: relative;
}

.how-system-works .steps .step-card:first-child {
  --unique-color: var(--green-color);
}

.how-system-works .steps .step-card:nth-child(2) {
  --unique-color: var(--yellow-color);
}

.how-system-works .steps .step-card:last-child {
  --unique-color: var(--blue-color);
}

.how-system-works .steps .step-card::before {
  content: "";
  background-color: var(--white-color);
  width: 14px;
  height: 14px;
  border: 2px solid var(--theme-color);
  border-radius: var(--rad-circle);
  position: absolute;
  top: -38px;
  left: 50%;
  transform: translateX(-50%);
}

/* End How System Works */
/* Start Our Departments */
.our-departments {
  padding: var(--pd-60) 0;
}

.our-departments .dp-card {
  text-align: center;
}

.our-departments .dp-card h3 {
  margin-top: 10px;
}

/* End Our Departments */
/* Start Call To Action */
.call-to-action {
  background-color: var(--theme-color);
  padding: var(--pd-60) 0;
  color: var(--white-color);
  position: relative;
  overflow: hidden;
}

.call-to-action::after {
  content: "";
  background-color: var(--white-color);
  width: 100px;
  height: 100px;
  border-radius: var(--rad-circle);
  position: absolute;
  right: 0;
  top: 50%;
  transform: translate(50%, -50%);
  box-shadow:
    0 0 0 10px rgba(255, 255, 255, .5),
    0 0 0 30px rgba(255, 255, 255, .4),
    0 0 0 50px rgba(255, 255, 255, .3),
    0 0 0 70px rgba(255, 255, 255, .2),
    0 0 0 90px rgba(255, 255, 255, .1);
}

.call-to-action h2 {
  font-size: 42px;
  margin-bottom: 20px;
}

.call-to-action .main-btn {
  width: fit-content;
}

@media (max-width:767px) {
  .call-to-action {
    text-align: center;
  }

  .call-to-action h2 {
    font-size: 32px;
  }

  .call-to-action .main-btn {
    margin: 0 auto;
  }
}

/* End Call To Action */