:root {
  /* Colors */
  --theme-color: rgb(203 46 255);
  --light-purple: rgb(247 225 255);
  --hover-color: rgb(118, 11, 153);
  --red-color: rgb(241, 40, 40);
  --yellow-color: rgb(255, 235, 17);
  --green-color: rgb(24, 255, 43);
  --blue-color: rgb(23, 120, 255);
  --white-color: #fff;
  --black-color: #333;
  --dark-gray-color: #ddd;
  --light-gray-color: #eee;
  /* Padding */
  --pd-60: 60px;
  --pd-100: 100px;
  --pd-120: 120px;
  /* Borders */
  --light-border: 1px solid #eee;
  /* Border Radius Values */
  --rad-6: 6px;
  --rad-8: 8px;
  --rad-10: 10px;
  --rad-25: 25px;
  --rad-circle: 50%;
  /* Box Shadow */
  --main-shadow: 0 0 10px 0 rgb(0 0 0 / 10%);
  /* Layers Indices */
  --popup-index: 1000;
  --header-index: 999;
  --layout-index: 998;
  /* Transition Durations */
  --main-transition: .5s;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: Arial, Helvetica, sans-serif;
  color: var(--black-color);
  position: relative;
  overflow-x: hidden;
}

body::before {
  content: "";
  background-color: #333;
  width: 100%;
  height: 100%;
  position: fixed;
  left: 0;
  top: 0;
  z-index: var(--layout-index);
  opacity: 0;
  pointer-events: none;
  transition: opacity var(--main-transition);
}

body:has(.opened) {
  overflow-y: hidden;
}

body:has(.opened)::before {
  opacity: 0.5;
  pointer-events: auto;
}

ul {
  list-style: none;
}

a {
  color: inherit;
  text-decoration: none;
}

:where(input, select, textarea, button) {
  background-color: transparent;
  border: none;
  outline: none;
}

select {
  -webkit-appearance: none;
  -moz-appearance: none;
  appearance: none;
}

button {
  cursor: pointer;
  font-weight: bold;
}

.icon {
  pointer-events: none;
}